<div id="divLogin" class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">ENTAO VAMOS PARTIR PARA A ZOEIRA...</label>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label">Nome: </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label">Confirmar Senha</label>
                <input type="password" class="form-control" id="ConfSenha" name="ConfSenha" placeholder="Senha">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">CADASTRAR</button>
                <button type="submit" class="btn btn-primary">CANCELAR</button>
            </div>
        </div>
    </form>
</div>