<div id="divLogin" class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label" >DIGITE SER EMAIL E SENHA PARA ENTRAR NO JOGO:</label>
        </div>
        <div class="form-group">
            <div>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">#PARTIU</button>
                <button type="submit" class="btn btn-primary">QUERO ENTRAR NA ZOEIRA</button>
            </div>
        </div>
    </form>
</div>