<div>
    <div class="row" id="userHeader">
        <div class="col-md-2">
            <img src="../images/HuehuePerfil.png" class="img-thumbnail" id="huehuePerfil" />
        </div>
        <div class="col-md-8 col-md-offset-5" id="userData">
                <div class="userDataDivs panel-body">Id : {{ player.id }}</div>
                <div class="userDataDivs panel-body">Nome : {{ player.nome }}</div>
                <div class="userDataDivs panel-body">Idade: {{ player.age }}</div>
                <div class="userDataDivs panel-body">Nivel: {{ player.nivel }}</div>
                <div class="userDataDivs panel-body">Pt Experiencia: {{ player.experience}}</div>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <img src="../images/HuehuePerfil.png" class="img-circle" id="huehueNivel" />
        </div>
    </div>
    <!-- Dados dos usuarios logados e rooms iniciadas-->
    <div class="row" id="perfilData">
        <div class="col-md-6">
            <div class="jumbotron">
                <p>dados</p>
            </div>
        </div>
            <!-- Tabela de usuarios -->
            <div class="col-md-offset-6">
               
                <table class="table">
                    <thead>
                        <tr>
                            <th>Logados</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>USUARIO</th>
                            <th>IDADE</th>
                            <th>NIVEL</th>
                            <th>ONLINE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            {{ user.id != player.id }}
                            <td>{{ $index + 1 }}</td>
                            <td>{{ user.id    }}</td>
                            <td>{{ user.age   }}</td>
                            <td>{{ user.nivel }}</td>
                            <td ng-if="user.isPlaying == true ">Não</td>
                            <td ng-if="user.isPlaying == false">Sim</td>
                            <td><button class="btn btn-sm btn-link" ng-click="toChallenger(user, player)" ng-disabled="user.isPlaying">Chamar para X1</button></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Tabela de Rooms-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Batalhas</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>DESAFIADOR</th>
                            <th>VITIMA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="room in rooms">
                            <td>{{$index + 1}}</td>
                            <td>{{room.challenger.id}}</td>
                            <td>{{room.challenged.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>